/*start_of Fonts Used*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

/*
font-family: 'Poppins', sans-serif;
font-family: 'Questrial', sans-serif;
*/

/* @font-face {
	font-family: "xxxx";
	src: url(fonts/xxx/xxx.woff) format("woff"),
	url(fonts/xxx/xxx.woff2) format("woff2");
} */
/* end_of fonts */

/* 
gray: #80909C

*/


/* start_of presets */
*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */
html {width: 100%; height: 100%;}
body {width: 100%;height: 100%;display: flex;justify-content: center;/* align-items: center; */background-color: #f5f3ef;}
#outer_con {width: 454px;height: 603px;background: #80909C;justify-content: center;border-radius: 45px;margin-top: 158px;display: flex;padding-top: 13px;}
#inner_con {width: 426px;height: 576px;background: #d0d9da;border-top-right-radius: 31px;border-top-left-radius: 31px;border-bottom-left-radius: 31px;border-bottom-right-radius: 38px;padding-top: 25px;}
#screen_outer {width: 382px;height: 103px;background-color: #7c8f9b;margin: 0 auto;display: flex;justify-content: center;border-top-right-radius: 20px;border-top-left-radius: 20px;border-bottom-left-radius: 22px;border-bottom-right-radius: 22px;padding-top: 8px;}
#screen_inner {width: 366px;height: 88px;background-color: #b7d5ca;border-top-right-radius: 14px;border-top-left-radius: 14px;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;}

#btn_con {width: 376px;min-height: 379px;/* background: green; */margin: 0 auto;margin-top: 31px;}
.btn_holder {width: 86px;height: 70px;background-color: #708590;display: flex;justify-content: center;border-radius: 19px 19px 24px 24px;}
.btn_holder .btn {width: 75px;height: 58px;background-color: #89b2a9;border-radius: 12px 12px 19px 19px;border: 0px;margin-top: 6px;}